x64/
bin/
build/
*.sln
.vs/
CMakeFiles/
.lib/
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
*.cmake
*.CMakeFiles
CMakeCache.txt
.VSCodeCounter/
*.pyc
*.pyd
Release/
Exporter.dir/
paths.txt
Demo.dir/
BlenderFiles/
Engine.h
Engine.cpp
Demo.exe
Demo.pdb
Demo/Models/
Demo/resources/models/
Demo/resources/Textures/
Demo/resources/Tree/
Demo/TestSmoothieExport/
SmoothieEngine/SmoothieEngine.dir/
lib/
Demo/resources/SmoothieDemoScene/
